@use '../../atoms/styles';
@use '../../style';
@use '../buttons/buttons';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;

    &_form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}
