.dialog {
    width: 430px;
    height: 100px;

    &:hover {
        background: rgba(228, 237, 253, 1);
        cursor: pointer;
    }

    &_wrapper {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        align-content: center;
        border-bottom: 2px solid lightgray;
    }

    &_display-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
    }

    &_display-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
