.button {
    width: 100%;
    height: 45px;
    border: none;
    background: rgba(51, 105, 243, 1);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
.secondary {
    background: none;
    color: rgba(51, 105, 243, 1);

    &_warning {
        background: none;
        color: rgba(255, 0, 0, 1);
    }
}

.search {
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: rgba(239, 239, 239, 1);
    padding: 12px 0;
}

.link {
    background: none;
    color: rgba(153, 153, 153, 1);
    font-size: 16px;
    height: auto;
    text-align: end;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    color: rgba(153, 153, 153, 1);
    font-size: 16px;
}

.primary-input {
    border: none;
    border-bottom: 1px solid rgba(51, 105, 243, 1);
    width: 100%;
    outline: none;
    font-size: 18px;
    padding-bottom: 8px;
}
