.sidebar {
  border-right: 3px solid lightgray;
  display: flex;
  flex-direction: column;
  height: 100%;

  &_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    gap: 16px;
  }
}