.dialog {
    border-bottom: 3px solid lightgray;
    width: 430px;
    margin-bottom: 3px;
    height: 100px;

    &_wrapper {
        padding: 16px;
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        align-content: center;
    }
}
